@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bell IT Support</h1><hr /><br /><br />
    <a type="button" class="btn btn-primary btn-lg" asp-area="" asp-controller="ITSupport" asp-action="Index">Click here to submit a ticket</a>
    <a type="button" class="btn btn-secondary btn-lg" asp-area="" asp-controller="ITSupport" asp-action="ViewTickets">Click here to view tickets</a>
</div>
